<div id="<%= dom_id setlist_item %>">
  <p>
    <strong>Setlist:</strong>
    <%= setlist_item.setlist_id %>
  </p>

  <p>
    <strong>Song:</strong>
    <%= setlist_item.song_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= setlist_item.position %>
  </p>

</div>
