<% content_for :title, "New setlist item" %>

<h1>New setlist item</h1>

<%= render "form", setlist_item: @setlist_item %>

<br>

<div>
  <%= link_to "Back to setlist items", setlist_items_path %>
</div>
