<!-- app/views/albums/_form.html.erb -->

<%= form_with(model: album, local: true) do |form| %>
  <!-- Other album fields -->

  <div class="field">
    <%= form.label :artist_id, "Artist" %>
    <%= form.collection_select :artist_id, Artist.all, :id, :name, prompt: "Select an artist" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>