<div id="<%= dom_id bandmember %>">
  <p>
    <strong>Artist:</strong>
    <%= bandmember.artist_id %>
  </p>

  <p>
    <strong>People:</strong>
    <%= bandmember.people_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= bandmember.role %>
  </p>

</div>
