<% content_for :title, "Editing set type" %>

<h1>Editing set type</h1>

<%= render "form", set_type: @set_type %>

<br>

<div>
  <%= link_to "Show this set type", @set_type %> |
  <%= link_to "Back to set types", set_types_path %>
</div>
