<div id="<%= dom_id footnote_symbol %>">
  <p>
    <strong>Footnote number:</strong>
    <%= footnote_symbol.footnote_number %>
  </p>

  <p>
    <strong>Symbol:</strong>
    <%= footnote_symbol.symbol %>
  </p>

  <p>
    <strong>Sane value:</strong>
    <%= footnote_symbol.sane_value %>
  </p>

</div>
