<div id="<%= dom_id stat %>">
  <p>
    <strong>User:</strong>
    <%= stat.user_id %>
  </p>

  <p>
    <strong>Shows attended:</strong>
    <%= stat.shows_attended %>
  </p>

  <p>
    <strong>Favorite songs:</strong>
    <%= stat.favorite_songs %>
  </p>

</div>
